# Options -Indexes

<IFModule rewrite_module>
RewriteEngine on
# LimitInternalRecursion 100
# RewriteCond hello !asd
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond $1 !^(index\.php|images|uploads|tpl|robots\.txt)
RewriteRule ^api/(.*)/(.*)$ index.php?handler=$1&method=$2 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ([\w\/\-]*) page/$1.html

# RewriteRule ([\w\/\-]*) test.php?a=%{REQUEST_FILENAME} [QSA]
</IFModule>