<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登录页面</title>
    <link href="__PUBLIC__/static/styles/login.less" rel="stylesheet/less">
    <script src="__PUBLIC__/static/lib/less-3.9.0.js"></script>
    <script src="__PUBLIC__/static/lib/jquery-3.4.1.js"></script>
</head>
<body>
    <main>
            <h1>
                用户登录
            </h1>
            <form id="login-form" >
                <label for="input-frame">邮箱</label>
                <input class="input-frame" id="input-frame" type="text" name="account">
                <label for="password">密码</label>
                <input class="input-frame" id="password" type="password" name="password">
                <input id="go-regist" type="button" value="注册">
                <input type="submit" value="登录">
                <h3 id="error-text"></h3>
            </form>


    </main>
    <script>
    $("#go-regist").click(function(){
        $(location).attr('href', 'regist.html');
    });

    // 用AJAX技术，下面为jq的ajax方法
        $("#login-form").submit(function(e){
            e.preventDefault();
            $.ajax({
                url:"__PUBLIC__/index/user/login",
                type:"post",
                data:{
                    email:$("#input-frame").val(),
                    password:$("#password").val()
                },
                success:function(response){
                    response = JSON.parse(response);
                    if(response.code!=="0000"){
                        $("#error-text").html(response.msg);
                        return;
                    }
                    location.href="index.html";
                }
            });
        });
    </script>
</body>
</html>